.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:10%;
/*
    background-color:rgba(147, 184, 189,0.8);
*/
    color: white;
    text-align: center;
}

.header
{
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height:10%;
/*
 background-color:rgba(147, 184, 189,0.8);
*/
 color: white;
 text-align: center;
}

.logodshan
{
position:relative;
top:10px;
height:50px;
width:500px;
right:20px;
}