

<script>

    jQuery(function () {
    jQuery('#error').click(function () {
        // make it not dissappear
        toastr.error("Noooo oo oo ooooo!!!", "Title", {
            "timeOut": "0",
            "extendedTImeout": "0"
        });
    });
    jQuery('#info').click(function () {
   		// title is optional
        toastr.info("UPDATED SUCCESSFULLY",);
    });
    jQuery('#warning').click(function () {
        toastr.warning("DELETED SUCCESSFULLY");
    });
    jQuery('#success').click(function () {
        toastr.success("SAVED SUCCESSFULLY");
    });

    jQuery('#danger').click(function () {
        toastr.danger("DELETED SUCCESSFULLY");
    });
});


</script>






<script>

document.getElementById("uploadBtn").onchange = function () {
document.getElementById("uploadFile").value = this.value;
};
</script>

<style>
    .moveup{
    padding-top:initial;
    }
</style>


<div class="container">
    <div class="jumbotron moveup">
        <div class="row">

            <form class="form-inline company1">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4 style="align-content:center; color: black;"> COMPANY PROFILE</h4>

                            </div>



                <hr style="border:1px solid #c1bbbb;">


                  <div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen; " for="name">Company name</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg"  placeholder="Enter name" name="name" ng-model="formCompanyDetails.companyName">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen"; for="name">Country</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg"  placeholder="Enter name" name="name" ng-model="formCompanyDetails.country">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen; " for="name">City</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg"  placeholder="Enter name" name="name" ng-model="formCompanyDetails.city">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen; " for="name">PIN code</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg"  placeholder="Enter name" name="name" ng-model="formCompanyDetails.pinCode">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span  style="color:limegreen; "for="name">Website</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg"  placeholder="Enter name" name="name" ng-model="formCompanyDetails.website">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen; " for="name">Taxation Type</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg"  placeholder="Enter name" name="name" ng-model="formCompanyDetails.taxationType">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen; " for="name">Contact name</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg"  placeholder="Enter name" name="name" ng-model="formCompanyDetails.contactName">
                                </div>
                            </div>
                            <!--<div class="form-group"-->
                            <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-lg">show extra field options</button>
                            </div>-->



                        </div>





                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen; " for="currency">Default currency</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg" id="currency" placeholder="Enter currency" name="currency" ng-model="formCompanyDetails.deafultCurrency">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span  style="color:limegreen; "for="state">State</span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <input type="text" class="form-control input-lg" id="state" placeholder="Enter state" name="state" ng-model="formCompanyDetails.state">
                                </div>
                            </div>

                            <!--<div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right:0px;margin-right:0px;">
                                    <span for="address" style="padding-right:0px;margin-right:0px;">Address</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                                    <textarea class="form-control " id="address" rows="5" cols="31" placeholder="Enter address" name="address" style="margin-left:2px;" ng-model="formCompanyDetails.address"></textarea>
                                </div>
                            </div>
-->

                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen; " for="email">Email</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg" id="email" placeholder="Enter email" name="email" ng-model="formCompanyDetails.email">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen;" for="number">Phone</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control input-lg" id="number" placeholder="Enter phone number" name="number" ng-model="formCompanyDetails.phone">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span style="color:limegreen;" for="tax">Service Tax no</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="number" class="form-control input-lg" id="tax" placeholder="Enter tax" name="tax" ng-model="formCompanyDetails.serviceTaxNo">
                                </div>
                            </div>


                        <div class="form-group">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right:0px;margin-right:0px;">
                                <span  style="color:limegreen;"for="address" style="padding-right:0px;margin-right:0px;">Address</span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                                <textarea class="form-control " id="address" rows="5" cols="31" placeholder="Enter address" name="address" style="margin-left:2px;" ng-model="formCompanyDetails.address"></textarea>
                            </div>
                        </div>



                    </div>

                    </div>
                <!--<hr style="border:1px solid #c1bbbb;">-->

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="fileUpload btn btn-primary">
                        <span style="color:black;">Upload</span>
                        <input id="uploadBtn" type="file" class="upload" file-model="myFile"/>

                    </div>
                    <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
                    <button style="color:black;" ng-click="uploadFile()">Upload Logo</button>
                </div>
                <div id="info"></div>

                <!--<hr style="border:1px solid #c1bbbb;">-->

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">

                        <div class="form-group">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <span style="color:limegreen;" for="tax">TIN</span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="tax" ng-model="formCompanyDetails.tin">
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <span style="color:limegreen;" for="tax">VAT</span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="tax" ng-model="formCompanyDetails.vat">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <span style="color:limegreen;" for="tax">CST</span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="tax" ng-model="formCompanyDetails.cst">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">

                        <div class="form-group">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <span style="color:limegreen;" for="tax">PAN</span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="tax"  ng-model="formCompanyDetails.pan">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <span style="color:limegreen;"for="tax">LST</span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="tax"  ng-model="formCompanyDetails.lst">
                            </div>
                        </div>
                    </div>
                </div>



            </form>
        </div>

        </div>

        <!--<hr style="border:1px solid #c1bbbb;">-->




        <div data-role="header" data-position="fixed" style="z-index:200" ng-if="!formCompanyDetails.companyName">
            <button type="button" class="btn btn-success btn-md" ng-click="saveCompanyDetails(formCompanyDetails)">save</button>

        </div>
    <div id="success"></div>
    <div data-role="header" data-position="fixed" style="z-index:200" ng-if="formCompanyDetails.companyName">
        <button type="button" class="btn btn-success btn-md" ng-click="editCompanyDetails(formCompanyDetails)">Update</button>
    </div>
    <div id=""></div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-hide="test">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="hideAndDownload()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->



    </div>