
<div style="padding-top:-2px; margin-top:-22px;" class="container">
<div class="jombotron">
    <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="x_panel dashboardback">
                    <div class="x_content">
                        <h4 style="color: cornflowerblue;">DASHBOARD</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                <div id="con" style="min-width: 310px; height: 400px; margin: 0 auto">
                                </div>

                                </div>

                            <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
                                <div id="barChartCon"  style="min-width: 310px; height: 400px; max-width: 600px; margin:0">
                                </div>

                            </div>
                            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
                                    <div id="PyramidCon"  style="min-width: 410px; max-width: 600px; height: 400px; margin:0">
                                    </div>

                                </div>




                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>

