


<div class="container" style="padding-top:5px;" ng-controller="invoiceCtrl">
<div ng-controller="companyController">

    <section class="invoice">
            <!-- title row -->
            <div class="row">
                <img  class="pull-left" src="./" alt="log">
                <h4 style="padding-left:25px; color: black;">
                    INVOICE
                    <small>{{previewobj[2].modelValue}}</small>
                </h4>
                <div class="col-xs-12">

                    <h3 class="page-header" style="color:#2ecc71; margin-right: 60px;">
                     <!--   <i style="padding-left: 105px; "  class="fa fa-globe"></i> AdminLTE, Inc.-->
                        <small class="pull-right">{{previewobj[3].modelValue}}</small>
                    </h3>

                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    From
                    <address>
                        <strong>{{formCompanyDetails.companyName}}.</strong><br>
                        {{formCompanyDetails.address}}<br>
                        {{formCompanyDetails.city}}<br>
                        Phone:{{formCompanyDetails.phone}} <br>
                        Email:{{formCompanyDetails.email}}
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    To
                    <address>
                        <strong>{{previewobj[15].CompanyName}}</strong><br>
                        {{previewobj[15].StreetAddress}}<br>
                        {{previewobj[15].City}},{{previewobj[0].State}}<br>
                        Phone:{{previewobj[15].PhoneNumber}}<br>


                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <br>
                    <b>Invoice{{previewobj[0].modelValue}} </b>
                    <br>
                    <b>Order ID:</b> 4F3S8J<br>
                    <b>Payment Due:</b>{{previewobj[1].modelValue}} <br>
                    <b>Account:</b> 968-34567
                </div>

            </div>


            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <!--<table class="table table-striped table1">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Qty</th>-->
                            <!--<th>Product</th>-->
                            <!--<th>Serial #</th>-->
                            <!--<th>Description</th>-->
                            <!--<th>Subtotal</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td>Call of Duty</td>-->
                            <!--<td>455-981-221</td>-->
                            <!--<td>El snort testosterone trophy driving gloves handsome</td>-->
                            <!--<td>$64.50</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td>Need for Speed IV</td>-->
                            <!--<td>247-925-726</td>-->
                            <!--<td>Wes Anderson umami biodiesel</td>-->
                            <!--<td>$50.00</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td>Monsters DVD</td>-->
                            <!--<td>735-845-642</td>-->
                            <!--<td>Terry Richardson helvetica tousled street art master</td>-->
                            <!--<td>$10.70</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td>Grown Ups Blue Ray</td>-->
                            <!--<td>422-568-642</td>-->
                            <!--<td>Tousled lomo letterpress</td>-->
                            <!--<td>$25.99</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <table class="table table-striped table-bordered" >
                        <thead>
                        <tr >

                            <th ng-click="sortdata('name')">Item Name<div style="display:inline-block;" ng-class="getsortclass('name')"></div></th>
                            <th ng-click="sortdata('type')">Unit<div style="display:inline-block;" ng-class="getsortclass('type')"></div></th>
                            <th ng-click="sortdata('country')">QTY<div style="display:inline-block;" ng-class="getsortclass('country')"></div></th>
                            <th ng-click="sortdata('timezone')">Price<div style="display:inline-block;" ng-class="getsortclass('timezone')"></div></th>
                            <th ng-click="sortdata('parentstructure')">Discount<div style="display:inline-block;" ng-class="getsortclass('parentstructure')"></div></th>
                            <th ng-click="sortdata('action')">Tax<div style="display:inline-block;" ng-class="getsortclass('action')"></div></th>
                            <!--<th ng-click="sortdata('action')">Action<div style="display:inline-block;" ng-class="getsortclass('action')"></div></th>-->
                        </tr>
                        </thead>
                        <tr ng-repeat="productvalue in productlistforpreview">

                            <!--<td>{{$index+1}}</td>-->
                            <td>{{productvalue.productName.ProductName}}</td>
                            <td>{{productvalue.unit}}</td>
                            <td>{{productvalue.qty}}</td>
                            <td>{{productvalue.unitPrice}}</td>
                            <td>{{productvalue.discount}}</td>
                            <td>{{productvalue.tax}}</td>
                            <!--<td>-->
                                <!--<button data-toggle="modal" data-target="#itemModel" class="edit" id="edit_button1"><i class="glyphicon glyphicon-pencil"></i></button>-->
                                <!--<button  class="delete" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-remove"></i></button>-->
                            <!--</td>-->
                        </tr>
                    </table>
                </div>

            </div>


            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    <p class="lead"  style="color:#2ecc71;"><b>Payment Methods:</b></p>


                    <p class="text-muted well well-sm no-shadow invoicetex" style="margin-top:30px;">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg
                        dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <p class="lead"  style="color:#2ecc71;"><b>Amount Due{{previewobj[1].modelValue}}</b></p>

                    <div class="table-responsive" class="invoicetex">
                        <table class="table">
                            <tr>
                                <th style="width:50%">subtotals</th>
                                <td>{{invoicecal.sub}}</td>
                            </tr>
                            <tr>
                                <th>Tax (9.3%)</th>
                                <td>$10.34</td>
                            </tr>
                            <tr>
                                <th>Shipping:</th>
                                <td>{{previewobj[7].modelValue}}</td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td>{{invoicecal.to}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">


                    <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
                    </button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                        <i class="fa fa-download"></i> Generate PDF
                    </button>
                    <button class="btn btn-success pull-right" ng-click="editInvoicePreviewObject()" class="btn btn-default">Edit Invoice</button>
                </div>
            </div>
        </section>
</div>
</div>