

<script>

    jQuery(function () {
    jQuery('#error').click(function () {
        // make it not dissappear
        toastr.error("Noooo oo oo ooooo!!!", "Title", {
            "timeOut": "0",
            "extendedTImeout": "0"
        });
    });
    jQuery('#info').click(function () {
   		// title is optional
        toastr.info("UPDATED SUCCESSFULLY",);
    });
    jQuery('#warning').click(function () {
        toastr.warning("DELETED SUCCESSFULLY");
    });
    jQuery('#success').click(function () {
        toastr.success("SAVED SUCCESSFULLY");
    });

    jQuery('#danger').click(function () {
        toastr.danger("DELETED SUCCESSFULLY");
    });
});


</script>

<br>
<br>
<br>

<button ng-click="getConfigforInvoice()" id="newinvoice" class="btn btn-primary" style="display:none;"><b>+</b>  New Invoice</button>

<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <div class="container">



        <div class="jumbotron ">

            <div class="row">
                <h4 style="padding-left:22px;color: black;margin-top: -30px;">INVOICE</h4>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 line">
                    <strong><h4  style="color:limegreen;">Add New Invoice</h4></strong>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 change line">
                    <div class="form-inline" >
                        {{allClientName.CustomerTanNumber}}
                        <div class="form-group">
                            <label  style="padding-left:20px;padding-right:5px; color: limegreen;">Client Name</label>
                            <div style="float:right;">
                                <select chosen
                                        option="allClientName"
                                        ng-model="valueclient"
                                        ng-change="getparticularclient(valueclient)"
                                        ng-options="itemsname.CompanyName for itemsname in invoice.clientNames"
                                        class="form-control input-lg">
                                </select>
                            </div>
                        </div>
                        <input type="text" name="clientname" ng-model="clientsecname">

                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 line">
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">

                        <div class="row">

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 invoiceno">
                                <form class="form-inline">
                                    <label style="padding-left:2px; color: limegreen;">Invoice No</label>
                                    <div class="form-group" style="padding-left:2px;">
                                        <input type="text" class="form-control"  name="number" size="2" style="border-radius:3px;height:50px;" ng-model="invoiceConfigor[0].modelValue">
                                        <input type="text" class="form-control"  name="number" size="11" style="border-radius:3px;height:50px;">
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 pono"style="padding-left:52px;">
                                <form class="form-inline">
                                    <label style="color: limegreen;">Po No</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control"  name="number" style="border-radius:3px;height:50px;"  ng-model="invoiceConfigor[4].modelValue">
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                    <div class="col-sm-5 col-xs-5 col-md-4 col-lg-4">

                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 firstdatepicker">

                                <form class="form-inline" ng-controller="datepicker.controller">
                                    <label style="color: limegreen;" for="date3" class="datepickerlable">Invoice Date</label>
                                    <div class="input-group invoicedate">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" id="date3" name="date"  data-datepicker="{theme:'flat'}" ng-model="value2" ng-change="chagingDate2(value2)" height="10px" size="8"/>
                                    </div>
                                </form>

                            </div>

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 paymentterms" style="margin-left:-50px;">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label style="color: limegreen;" for="pay">Payment Terms</label>
                                        <input type="text" class="form-control" id="pay" name="pay" size="12" style="border-radius:3px;height:50px;" ng-model="invoiceConfigor[5].modelValue">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3 col-xs-3 col-md-4 col-lg-4">

                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 duedatepicker">
                                <form class="form-inline" ng-controller="datepicker.controller">
                                    <label style="color: limegreen;" for="date" class="datepickerlablesec">Due Date</label>
                                    <div class="input-group invoicedate duedate">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" id="date4" name="date" size="2" style="border-radius:3px;height:50px;" data-datepicker="{theme:'flat'}" ng-model="value3" ng-change="chagingDate(value3)">

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 line">

                    <h4 style="color:black;" class="invoicegen">INVOICE</h4>
                    <div class="container-fluid">

                        <button data-toggle="modal" data-target="#itemModel" style="margin-left: -845px;" class="btn btn-success">Add New&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></button>

                        <div class="text-center">

                            <table class="table table-striped table-bordered" >
                                <thead>
                                <tr >
                                    <th ng-click="sortdata('name')">No<div style="display:inline-block;" ng-class="getsortclass('name')"></div></th>
                                    <th ng-click="sortdata('name')">Item Name<div style="display:inline-block;" ng-class="getsortclass('name')"></div></th>
                                    <th ng-click="sortdata('type')">Unit<div style="display:inline-block;" ng-class="getsortclass('type')"></div></th>
                                    <th ng-click="sortdata('country')">QTY<div style="display:inline-block;" ng-class="getsortclass('country')"></div></th>
                                    <th ng-click="sortdata('timezone')">Price<div style="display:inline-block;" ng-class="getsortclass('timezone')"></div></th>
                                    <th ng-click="sortdata('parentstructure')">Discount<div style="display:inline-block;" ng-class="getsortclass('parentstructure')"></div></th>
                                    <th ng-click="sortdata('action')">Tax<div style="display:inline-block;" ng-class="getsortclass('action')"></div></th>
                                    <th ng-click="sortdata('action')">Action<div style="display:inline-block;" ng-class="getsortclass('action')"></div></th>
                                </tr>
                                </thead>
                                <tr ng-repeat="item in itemListDetailsDii track by $index">
                                    <td>{{item.slNo}}</td>
                                    <!--<td>{{$index+1}}</td>-->
                                    <td>{{item.productName.ProductName}}</td>
                                    <td>{{item.unit}}</td>
                                    <td>{{item.qty}}</td>
                                    <td>{{item.unitPrice}}</td>
                                    <td>{{item.discount}}</td>
                                    <td>{{item.tax}}</td>

                                    <td>

                                        <button data-toggle="modal" data-target="#edititemModel" class="edit" id="edit_button1" ng-click="getdetailsforedit($index)"><i class="glyphicon glyphicon-pencil"></i></button>
                                        <button  class="delete" data-toggle="modal" data-target="#myModal" ng-click="setIndexForDelete($index)"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>


                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 line">
                    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <div class="row">

                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 shipping">

                                <label style="display:inline-block; color: limegreen;" class="css-label"><b style="size:10px;">+</b> &nbsp; Add shipping charges</label>
                                <input type="number" value="none" ng-hide="shipping" style="border-radius:3px;height:30px;" ng-model="invoiceConfigor[7].modelValue">

                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">

                                <label style="display:inline-block;padding-right:194px; color: limegreen;"class="css-label"><b style="size:10px;">+</b> &nbsp; Add discount to all</label>
                                <input type="number" value="none" ng-show="check" style="border-radius:3px;height:30px;">
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">

                                <label style="margin-right: 170px; color: limegreen;"><b style="size:10px;">+</b> &nbsp; Add advance payment</label>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 ">

                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 line change subtotal">
                            <label style="color: limegreen;">Subtotal</label>
                            <span>{{invoice.subTotal}}</span>
                        </div>
                        <div ng-show="shipping" class="col-sm-12 col-xs-12 col-md-12 col-lg-12" style="padding-top:20px;padding-bottom:30px;">
                            <label>Shipping and packaging</label>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 line change total" style="border-radius:3px;">
                            <label style="color: limegreen;">Total</label>
                            <span>{{invoice.total}}</span>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 line change">
                    <div class="row">
                        <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
                            <form>
                                <div class="form-group" style="padding-left:20px;">
                                    <label style="color: limegreen;" for="terms">Payment Methods</label>
                                    <textarea class="form-control" rows="5" id="terms" style="border-radius:3px;" ng-model="invoiceConfigor[13].modelValue"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
                            <form>
                                <div class="form-group">
                                    <label style="color: limegreen;" for="notes">Private notes(not shown to client)</label>
                                    <textarea class="form-control" rows="5" id="notes" style="border-radius:3px;" ng-model="invoiceConfigor[14].modelValue"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <div data-role="page">
                <div data-role="header" data-position="fixed" style="z-index:200">
                    <button type="button" class="btn btn-success btn-md" ng-click="invoicePageCalling(invoiceConfigor,itemDetails)">preview & send</button>
                    <button type="button" class="btn btn-success btn-md" ng-click="saveInvoiceFullDetails(invoiceConfigor)">save as draft</button>
                    <button data-ng-click="saveAsDraft()" class="btn btn-success btn-md">save</button>
                    <button type="button" class="btn btn-success btn-md">cancel</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Deletion</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this item ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="deleteinvoiceclose">Close</button>
                    <button id="warning" type="button" class="btn" ng-click="removeRow()">delete</button>
                </div>
            </div>

        </div>
    </div>



</div>


<!-- Modal -->
<div class="modal fade" id="itemModel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add itmes</h3>
            </div>
            <div class="modal-body">
                <form>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;">Item Name</span>

                        <select chosen ng-options="x as x.ProductName for x in invoice.productNames" ng-model="itemDetails.productName" ng-change="productSelected(itemDetails.productName)" class="form-control input-lg"></select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;"> Unit</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="itemDetails.unit">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;"> 	QTY</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="itemDetails.qty">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;">Price</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="itemDetails.unitPrice">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;"> 	Discount</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="itemDetails.discount">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;"> 	Tax</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="itemDetails.tax">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="success" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveToItemTable(itemDetails)">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="edititemModel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">edit items</h3>
            </div>
            <div class="modal-body">
                <form>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;">Item Name</span>
                        <!--<input type="text" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="editlist.productName.ProductName">-->
                        <select ng-options="x as x.ProductName for x in invoice.productNames" ng-model="editlist.productName"></select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;"> Unit</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="editlist.unit">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;"> 	QTY</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="editlist.qty">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;">Price</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="editlist.unitPrice">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;"> 	Discount</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="editlist.discount">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span for="tax" style="color:#2ecc71;"> 	Tax</span>
                        <input type="number" class="form-control input-lg"  placeholder="Enter tax" name="itemName" ng-model="editlist.tax">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="info" type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="editedData(editlist)">update</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>





