<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">



    <div class="container">

        <button data-ng-click="newinvoice()" class="btn btn-primary">New Invoice</button>

        <!--{{invoiceConfigor}}-->
        <!--{{invoiceConfigor[6].name[0]}}-->
        {{invoiceList}}
        <div class="jumbotron ">

            <div class="row">
                <h4 style="padding-left:15px; margin-top: -30px; color: black;">INVOICE</h4>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 line">
                    <strong><h4 style="color:limegreen;">Invoice List</h4></strong>
                </div>




                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 line">


                    <div class="container-fluid">

                        <div class="text-center">

                            <table class="table table-striped table-bordered" >
                                <thead>
                                <tr>
                                    <th ng-click="sortdata('name')"> invoiceList[0].name<div style="display:inline-block;" ng-class="getsortclass('name')"></div></th>
                                    <th>View</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>{{ invoiceList[0].modelValue}}</td>
                                    <!--<td>{{$index+1}}</td>-->

                                    <td>

                                        <button ng-click="displayInvoice()">view</button>

                                    </td>
                                </tr>
                            </table>
                        </div>


                    </div>
                </div>




                </div>




            </div>
        </div>
</div>