<!--<header class="header1"></header>-->


<!--<div class="container loginmain"  >-->

    <!--<div  style="background-color:#66b5ff !important;padding:60px;" class="jumbotron logi2">-->
        <!--<div class="panel panel-default login">-->
            <!--<div class="panel-heading he"><h3>Login.</h3></div>-->

            <!--<div class="panel-body">-->
                <!--<form>-->

                    <!--<div class="form-group">-->
                        <!--<label for="usr">Name:</label>-->
                        <!--<input type="text" class="form-control" id="usr" ng-model="user.username">-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label for="pwd">Password:</label>-->
                        <!--<input type="password" class="form-control" id="pwd" ng-model="user.password">-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<button type="button" class="btn btn-info" id="logi" ng-click="checkValidation(user)">Login</button>-->
        <!--</div>-->

        <!--</form>-->
    <!--</div>-->

<!--</div>-->
<!--<footer class="footi"></footer>-->
<!--</div>-->


<div class="container loginpage">
    <div class="header">
        <!--<img src="images/dshan.jpg"  class="logodshan">-->
        <p></p>
    </div>

    <section>
        <div id="container_demo" >
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form  action="" autocomplete="on">
                        <h1 style="color:black;">LOGIN</h1>
                        <p>
                            <label style="color:black;" for="username" class="uname" data-icon=""> Your email or username </label>
                            <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com" id="usr" ng-model="user.username"/>
                        </p>
                        <p>
                            <label style="color:black; for="password" class="youpasswd" data-icon=""> Your password </label>
                            <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" id="pwd" ng-model="user.password" />
                        </p>
                        <p class="keeplogin">
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                            <label style="color:black; for="loginkeeping">Keep me logged in</label>
                        </p>
                        <p class="login button">
                            <input type="submit" value="Login" ng-click="checkValidation(user)" />
                        </p>
                        <p  style="color:black;"class="change_link">
                            Not a member yet ?
                            <a ui-sref="registration" class="to_register">Join us</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>


<div class="footer">
    <p></p>
</div>
</div>