


    <header class="main-header">
        <!-- Logo -->
        <a href="../../index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Dshan</b>Techno</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <!--<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">-->
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!--<li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                                <ul class="menu">
                                    <li>&lt;!&ndash; start message &ndash;&gt;
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    &lt;!&ndash; end message &ndash;&gt;
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    &lt;!&ndash; Notifications: style can be found in dropdown.less &ndash;&gt;
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    &lt;!&ndash; Tasks: style can be found in dropdown.less &ndash;&gt;
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                                <ul class="menu">
                                    <li>&lt;!&ndash; Task item &ndash;&gt;
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    &lt;!&ndash; end task item &ndash;&gt;
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>-->
                    <!-- User Accou-->
                    <!-- Control Sidebar Toggle Button -->
                    <div class="moveleft">
                        <a href="#" class="btn btn-default">settings</a>
                        <a id="menu-toggle" href="#"  class="btn btn-default pointerClass">notification</a>
                        <a href="#" class="btn btn-default">log out</a>
                    </div>
                </ul>
            </div>
        </nav>
    </header>






    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <ul class="sidebar-menu">
                  <!--<li class="header">MAIN NAVIGATION</li>-->
                <li class="treeview">
                    <a ui-sref=".dashboard">
                        <i class="fa fa-dashboard "></i> <span>DASHBOARD</span>
            <span class="pull-right-container">
            </span>
                    </a>
                </li>

                <li class="treeview">
                    <a ui-sref=".company">
                        <i class="fa fa-users " aria-hidden="true"></i>
                        <span>COMPANY</span>
                    </a>
                </li>
                <li class="treeview">
                    <a ui-sref=".products">
                        <i class="fa fa-files-o"></i>
                        <span>PRODUCTS</span>
                    </a>
                </li>
                <li class="treeview">
                    <a ui-sref=".clients">
                        <i class="fa fa-file " aria-hidden="true"></i>
                        <span>CLIENTS</span>
                    </a>
                </li>
                <li class="treeview">
                    <a ui-sref=".invoicelist">
                        <i class="fa fa-file " aria-hidden="true"></i>
                        <span>INVOICELIST</span>
                    </a>
                </li>
                <!--<li class="treeview">-->
                    <!--<a ui-sref=".invoicegen">-->
                        <!--<i class="fa fa-product-hunt" aria-hidden="true"></i>-->
                        <!--<span>INVOICEGEN</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                    <!--<a ui-sref=".invoice">-->
                        <!--<i class="fa fa-building" aria-hidden="true"></i>-->
                        <!--&lt;!&ndash;<span>INVOICE</span>&ndash;&gt;-->
                    <!--</a>-->
                <!--</li>-->


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>


    <div id="wrapperofnotice"   ng-controller="indexCtrl" >
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        dashboard
                    </a>
                </li>
                <li>
                    <a href="#">products</a>
                </li>
                <li>
                    <a href="#">notificationheading3</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    </div>

    <!-- =============================================== -->
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div ui-view></div>
            </div>
            <!--<div class="col-xs-12 pppppp">
                <div id="wrapper"   ng-controller="indexCtrl" >
                    &lt;!&ndash; Sidebar &ndash;&gt;
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand">
                                <a href="#">
                                    dashboard
                                </a>
                            </li>
                            <li>
                                <a href="#">products</a>
                            </li>
                            <li>
                                <a href="#">notificationheading3</a>
                            </li>
                            <li>
                                <a href="#">Overview</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    &lt;!&ndash; /#sidebar-wrapper &ndash;&gt;
                </div>
            </div>-->
        </div>

    </div>

<!--
</div>
-->

    <script>
    jQuery("#menu-toggle").click(function(e) {
        console.log('Hello');
        e.preventDefault();
        jQuery("#wrapperofnotice").toggleClass("toggled");
    });
    </script>


    <style>
        .nav.navbar-nav>li>a {
display:webkit-inline-box;

}
.skin-blue .sidebar-menu>li>a{

color:floralwhite;
}

    </style>