.navbar-static-top {
    position: fixed;
    top: 0;
    max-width:1172px;
    max-height:21px;
}
.   >li>a {
    position: relative;
    display: block;
    padding: 13px 15px 4px;
}
.company1 .form-group {
    padding: 10px;
}
.form-group span { display: inline-block;
    width:210px;
    position: relative;
    top: 10px;
}
.jumbotron {
    background-color:#f5f6f7 !important;
    box-shadow:1px 3px 10px grey;
    padding-top:20px;
}

.btn-success {
    color: #fff;
    background-color:#2ecc71;
    border-color:#00cc44 ;
}
.btn-info{
    color: #fff;
    background-color:#2ecc71;
    border-color:#00cc44;
}
.arrow-up
{
    width:0px;
    height:0px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:10px solid black;
}
.arrow-down
{
    width:0px;
    height:0px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:10px solid black;
}
.col-sm-12.col-xs-12.col-md-12
{
    padding:20px;
}
.client
{  padding:0px;
}
.change span
{
    padding-right:50px;
}
.change
{
    background-color:#f9fafb;
}
.line
{
    border:1px solid #e5e5e5;
}
div input
{
    border-radius:3px;
}

.modal-header{
    color:#ffffff;
    background-color:#2ecc71;
    font-family: 'Fugaz One', cursive;
}

/*invoice*/
.table thead
{
    background-color:#e9eef1;
    font-family: 'Bitter', serif;
}
.table-bordered {
    border: 1px solid #e9eef1;
    border-radius:10px;
    /*box-shadow: 1px 3px 10px #e9eef1;*/
}
.table-bordered>thead>tr>th
{
    /*box-shadow: 1px 3px 10px #3c8dbc inset;*/
    text-align:center;
}

.x_panel {

    background:#f5f6f7;
    border: 2px solid #e0e5e8;
    border-radius: 6px;

}

h4
{
    font-family: 'Monoton', cursive;
    padding-left: 20px;
}
@media screen and (min-width: 768px) {
    .container .jumbotron, .container-fluid .jumbotron {
        padding-right: 26px;
        padding-left: 26px;
    }
}

h4 {
    font-size: 18px;
    padding-left: 20px;
}
/*label{*/
/*display: inline-block;*/
/*float: left;*/
/*clear: left;*/
/*width: 250px;*/
/*text-align: right;*/
/*}*/
/*input {*/
/*display: inline-block;*/
/*float: left;*/
/*}*/

.searchform {
    background:#f4f4f4;
    background:rgba(244,244,244,.79);
    border: 1px solid #d3d3d3;
    left: 50%;
    padding: 2px 5px;
    position: absolute;
    margin: -22px 0 0 -110px;
    top:10px;

    width:360px;
    box-shadow:0 4px 9px rgba(0,0,0,.37);
    -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
    -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

.searchform input, .searchform button {
    float: left
}
.searchform input {
    background:#fefefe;
    border: none;
    font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin-right: 5px;
    padding: 10px;
    width: 216px;
    box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}
.searchform input:focus {
    outline: none;
    box-shadow:0 0 4px #0d76be inset;
    -moz-box-shadow:0 0 4px #0d76be inset;
    -webkit-box-shadow:0 0 4px #0d76be inset;
}
.searchform input::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform input:-moz-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform button {
    background: rgb(52,173,236);
    background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
    background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    color:#fff;
    cursor: pointer;
    font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding: 10px;
    width:106px;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}
.searchform button:hover {
    opacity:.9;
}
.form-group input
{  border-radius:6px;
}
.form-group textarea
{
    border-radius:6px;
}
.modal-body input
{
    border-radius:6px;
}
span {
    margin-bottom:5px;
    font-weight:700;
}
.row
{
    margin-top:20px;
}
.table1
{
    margin-top:20px;
}
.lead {
    margin-bottom:30px;
    margin-top:40px;
}

.login
{
    max-width:500px;
    margin:0 auto;

}
.invoicetex
{
    margin-top:60px;
}
.loginmain
{
    max-width:500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height:500px;
}
#logi
{
    /*float: right;*/
    margin:20px;
    position:relative;
    left:250px;
}
.he
{
    background:url(table/build/css/1.jpg);
}
/*.logi2*/
/*{*/
/*background-color:#66b5ff;*/
/*}*/
.logi2 {
    background-color:#66b5ff;
    padding-right:60px;
    padding-left:60px;
}
.header1 {
    width:87.5%;
    height: 60px;
    background:#66b5ff;
    position:fixed;
    top: 0;
}

footer {
    width:87.50%;
    height:60px;
    background:#66b5ff;
    position:fixed;
    bottom: 0;
}
.footi
{
    margin:0px;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text]
{
    padding-right:100px;
    height:40px;
    border-radius:5px;
}
.angular {
    margin-top:-20px;
}
.invoicedate .form-control{
    display: block;
    max-width: 50%;
    height: 43px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color:white;
    opacity: 1;
}
/*.form-control#date3*/
/*{*/
/*max-width:50%;*/
/*height:37px;*/
/*}*/
/*.form-control {*/
/*display: block;*/
/*width: 50%;*/
/*height: 37px;*/
/*}*/